<p>product-forms works!</p>
<div class="card grid grid-cols-1 md:grid-cols-2 gap-4 m-10 p-10 flex-col">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input pInputText [(ngModel)]="text1" placeholder="Username" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>$</p-inputgroup-addon>
    <p-inputnumber [(ngModel)]="number" placeholder="Price" />
    <p-inputgroup-addon>.00</p-inputgroup-addon>
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>www</p-inputgroup-addon>
    <input pInputText [(ngModel)]="text2" placeholder="Website" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-map"></i>
    </p-inputgroup-addon>
    <p-select [(ngModel)]="selectedCity" [options]="cities" optionLabel="name" placeholder="City" />
  </p-inputgroup>
</div>

<!-- Template Driven forms -->
<div class="card grid grid-cols-1 md:grid-cols-2 gap-4 m-10 p-10 flex-col">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div>
      <label for="name">Nama: </label>
      <input class="rounded-lg bg-white text-cyan-950" id="name" name="name" ngModel required />
    </div>
    <div>
      <label for="email">Rmail: </label>
      <input class="mt-3 rounded-lg bg-white text-cyan-950" id="email" name="email" ngModel required />
    </div>
    <!-- <div *ngIf="userForm.controls.['name']?.invalid && userForm.controls.['name']?.touched">
      Nama wajib Diisi.
    </div> -->
    <p-button styleClass="mt-4" type="submit" [disabled]="!userForm.valid" label="Kirim" severity="primary" />
  </form>
</div>

<!-- Reactive form -->
<div class="card grid grid-cols-1 md:grid-cols-2 gap-4 m-10 p-10 flex-col">
  <form [formGroup]="userForm2" (ngSubmit)="onSubmitReactive()">
    <div>
      <label for="name">Nama: </label>
      <input class="rounded-lg bg-white text-cyan-950" id="name" formControlName="name" />
      <div *ngIf="
          userForm2.controls.name?.invalid && userForm2.controls.name?.touched
        ">
        Nama wajib Diisi.
      </div>
    </div>
    <div>
      <label for="email">Rmail: </label>
      <input class="mt-3 rounded-lg bg-white text-cyan-950" id="email" formControlName="email" />
      <div *ngIf="
          userForm2.controls.email?.invalid && userForm2.controls.email?.touched
        ">
        Email tidak valid.
      </div>
    </div>

    <p-button styleClass="mt-4" type="submit" [disabled]="userForm2.invalid" label="Kirim" severity="primary" />
  </form>

  <div class="card">
    <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Product Name</label>
          <input id="name" type="text" pInputText formControlName="name">

        </div>
        <div class="p-field">
          <label for="price">Price</label>
          <input id="price" type="text" pInputText formControlName="price">
        </div>
        <div class="p-field">
          <label for="stock">Stock</label>
          <input id="stock" type="number" pInputText formControlName="stock">
        </div>
        <button pButton type="submit" label="Submit"></button>
      </div>
    </form>
  </div>


  <!-- <ul>
    <li *ngFor="let user of users" >
      {{ user.title }}
    </li>
  </ul> -->

  <ul>
    <li *ngFor="let product of products" >
      {{ product.name }} - {{ product.price }}  - {{product.stock}}
    </li>
  </ul>
</div>
