<div class="surface-section px-4 py-8">
  <div class="card">
    <p-card
      styleClass="w-fit max-w-screen-md mx-auto"
      header="Login to your Account"
    >
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <span class="p-text-secondary block mb-8"></span>

        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>

          <input pInputText id="email" name="email" ngModel required>
        </div>
        <div class="flex items-center gap-4 mb-4">
          <label for="password" class="font-semibold w-24">Password</label>
          <div class="flex items-center flex-auto">
            <input pInputText id="password" name="password" ngModel required type="password">

          </div>
        </div>
        <div class="flex justify-center gap-2">

        </div>
        <div class="flex justify-center gap-2 pt-4">
          <p-button label="Register "  (onClick)="registerPage()" severity="secondary"/> <p-button label="Login" type="submit" (onClick)="onSubmit(loginForm)"/>
        </div>
      </form>
    </p-card>
  </div>
</div>
