<div class="container mx-auto p-4">
  <div class="bg-slate-600 rounded-lg shadow-lg p-6">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold text-white ">Pokemon List</h1>

    </div>

    <div class="mb-6 flex space-x-4">
      <input type="text" [(ngModel)]="filter" (ngModelChange)="applyFilter()"
        class="flex-grow px-4 py-2 border  rounded-md  ">

      <select [(ngModel)]="selectedElement" (ngModelChange)="applyFilter()" class="px-4 py-2 border  rounded-md  ">
        <option value>All Elements</option>
        <option *ngFor="let element of elements" [value]="element">
          {{ element }}
        </option>
      </select>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-5 gap-7">
      <div *ngFor="let pokemon of paginatedPokemon" (click)="selectPokemon(pokemon.url)"
        class="bg-gray-100 rounded-lg p-4 text-center cursor-pointer hover:scale-110">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="mx-auto w-24 h-24">
        <h3 class="mt-2 text-lg font-semibold text-gray-800">
          {{ pokemon.name }}
        </h3>
        <h6 class="text-sm text-gray-600 ">
          {{ pokemon.element }}
        </h6>
      </div>
    </div>

    <div class="flex justify-between items-center mt-6">
      <button (click)="previousPage()" [disabled]="currentPage === 1"
        class="px-4 py-2 bg-blue-500 text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed">
        Previous
      </button>

      <div class="text-white ">
        Page {{ currentPage }} of {{ totalPages }}
      </div>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages"
        class="px-4 py-2 bg-blue-500 text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed">
        Next
      </button>
    </div>
  </div>

  <app-pokemon-detail *ngIf="selectedPokemon" [pokemon]="selectedPokemon"></app-pokemon-detail>
  
</div>
