<div class="surface-section px-4 py-8">
  <app-confirmation-modal #confirmDialog />
  <div class="card">
    <p-card styleClass="w-full max-w-screen-md mx-auto" header="Edit History">
      <form [formGroup]="historyForm" (ngSubmit)="onSubmit()">
        <span class="p-text-secondary block mb-8"></span>
        <div class="flex items-center gap-4 mb-4">
          <label for="firstName" class="font-semibold w-24">First Name</label>
          <input
            pInputText
            id="firstName"
            class="flex-auto"
            autocomplete="off"
            formControlName="firstName" />
        </div>
        <div class="flex items-center gap-4 mb-4">
          <label for="lastName" class="font-semibold w-24">Last Name</label>
          <input
            pInputText
            id="lastName"
            class="flex-auto"
            autocomplete="on"
            formControlName="lastName" />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>
          <input
            pInputText
            id="email"
            class="flex-auto"
            autocomplete="on"
            formControlName="email" />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="address" class="font-semibold w-24">Address</label>
          <textarea
            rows="5"
            cols="30"
            pTextarea
            formControlName="address"></textarea>
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="phoneNumber" class="font-semibold w-24">Phone Number</label>
          <p-inputgroup>
            <p-inputgroup-addon>
              <select
            [(ngModel)]="selectedCode"
            placeholder="Select Option"
            formControlName="phoneCountryCode">
            <option *ngFor="let option of phoneCode" [value]="option.code">{{ option.code }}</option>
          </select>
            </p-inputgroup-addon>
            <input
              pInputText
              id="phone"
              class="flex-auto"
              autocomplete="on"
              formControlName="phone"
              placeholder="Phone" />
          </p-inputgroup>
        </div>

        <div *ngIf="pokemonToBuy.length > 0">
          <p-panel header="Pokemon Bought" >
            <div
              class="flex justify-content-center align-items-center flex-wrap gap-4">
              <ng-container
              *ngFor="let evolution of pokemonToBuy; let i = index">
                <div class="text-center">
                  <p-card
                    [header]="evolution.name"
                    styleClass="w-15rem cursor-pointer hover:surface-hover transition-all"
                    >
                    <ng-template pTemplate="header">
                      <img
                      [src]="evolution.sprites.front_default"
                      [alt]="evolution.sprites.front_default"
                        class="w-full" />
                    </ng-template>
                    <p class="text-center capitalize">{{ evolution.name }}</p>
                  </p-card>

                  <!-- Evolution Arrow -->
                  <div *ngIf="i < pokemonEvolutions.length - 1" class="my-3">
                    <i class="pi pi-arrow-down text-2xl text-color-secondary"></i>
                  </div>
                </div>
              </ng-container>
            </div>
          </p-panel>
        </div>


        <div class="flex justify-end gap-2 pt-2">
          <p-button
            label="Cancel"
            severity="secondary"
            (click)="back()" />
          <p-button label="Update" (click)="visible = false" type="submit" (click)="confirmUpdate()" />
        </div>
      </form>
    </p-card>




  </div>
</div>

