<div class="surface-section px-4 py-8">
  <div class="card w-fit max-w-screen-md mx-auto">
  <p-tabs value="0">
      <p-tablist>
          <p-tab value="0">Login</p-tab>
          <p-tab value="1">Register</p-tab>
      </p-tablist>
      <p-tabpanels>
          <p-tabpanel value="0">


                 <app-login></app-login>



          </p-tabpanel>
          <p-tabpanel value="1">
             <app-register></app-register>
          </p-tabpanel>
         
      </p-tabpanels>
  </p-tabs>
</div>
</div>
